body {
  background: #ffe6f0;
  font-family: Arial;
  text-align: center;
}

.app {
  margin-top: 80px;
  background: white;
  padding: 30px;
  border-radius: 20px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 15px pink;
}

input {
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid pink;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background: hotpink;
  color: white;
  border-radius: 10px;
}
